body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #484848;
    box-sizing: border-box;
}

header {
    font-size: 75px;
    font-weight: bold;
    color: #ffffffce;
    padding: 10px;
    padding: 20px 0;
}

footer {
    font-size: 20px;
    color: #ffffffce;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results {
    color: #ffffffce;
    font-size: 40px;
}

#score {
    margin: 20px 0;
}

#score ul {
    color: #ffffffce;
    font-size: larger;
    list-style: none;
    margin: 0;
    padding: 0;
}

#choices {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

#choices button {
    background-color: darkgray;
    color: #484848;
    font-size: 30px;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 5px;
    box-shadow: #00000026 2px 2px 2px 2px;
}

#rules {
    color: #ffffffce;
    font-size: 20px;
    margin-bottom: 50px;
}